.feed {
  display: flex;
  flex-direction: column;
  border-right: 1px solid;
  border-color: var(--twitter-border-color);
  min-width: min-content;
  overflow-y: scroll;
  background-color: var(--twitter-background-color);
  max-width: 650px;
  position: relative;
  align-items: stretch;
  width: 100%;
  margin-left: 0;
  margin-right: 20px;
}

.feed::-webkit-scrollbar {
  display: none;
}
/* .feed {
  ms-overflow-style: none;
  scrollbar-width: none;
} */

.feed__header {
  top: 0;
  position: sticky;
  background-color: white;
  z-index: 3;
  /* border: 1px solid var(--twitter-border-color); */
  padding: 15px 20px;
}
