body {
    margin: 0;
    --twitter-color: #1da1f2;
    --twitter-background-color: var(--color-bg-1);
    --twitter-border-color: var(--color-border);
    --button-background-color: #e8f5fe;
    background-color: var(--color-bg-1);
    color: var(--color-text-1);
}

.arco-modal-header {
    border: none;
}

.arco-modal-footer {
    border: none !important;
    text-align: center !important;
}

.reactEasyCrop_Container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    user-select: none;
    touch-action: none;
    cursor: move;
}

.reactEasyCrop_Image,
.reactEasyCrop_Video {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    will-change: transform; /* this improves performances and prevent painting issues on iOS Chrome */
}

.reactEasyCrop_CropArea {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    box-shadow: 0 0 0 9999em;
    color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.reactEasyCrop_CropAreaRound {
    border-radius: 50%;
}

.reactEasyCrop_CropAreaGrid::before {
    content: ' ';
    box-sizing: border-box;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.5);
    top: 0;
    bottom: 0;
    left: 33.33%;
    right: 33.33%;
    border-top: 0;
    border-bottom: 0;
}

.reactEasyCrop_CropAreaGrid::after {
    content: ' ';
    box-sizing: border-box;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.5);
    top: 33.33%;
    bottom: 33.33%;
    left: 0;
    right: 0;
    border-left: 0;
    border-right: 0;
}