.profile {
  border-right: 1px solid;
  border-color: var(--color-border);
  min-width: min-content;
  background-color: var(--color-bg-3);
  max-width: 650px;
  position: relative;
  align-items: stretch;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: scroll;
}

.profile::-webkit-scrollbar {
  display: none;
}

.profile__body {
  overflow: scroll;
}

.profile__body::-webkit-scrollbar {
  display: none;
}

.profile__info {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 16px;
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.profile__background {
  width: 100%;
  height: 200px;
  background-color: rgb(var(--gray-4));
}

.profile__avatar__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.profile__avatar {
  width: 25%;
  min-width: 48px;
  margin-top: -15%;
  height: auto;
  margin-bottom: 12px;
}

.profile__icons svg {
  color: var(--color-text-3);
}

.profile__friends {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.profile__friends_field {
  margin-right: 20px;
  color: var(--color-text-1);
}

.profile__friends > a {
  text-decoration: none;
}

.profile__friends > a:hover {
  text-decoration: underline var(--color-text-1);
}

.profile__error {
  color: var(--color-text-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-demo-without-content-spacing .arco-modal-content {
  padding: 0;
}

.arco-image-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}