.profile {
  border-right: 1px solid;
  border-color: var(--twitter-border-color);
  min-width: fit-content;
  overflow-y: scroll;
  background-color: var(--twitter-background-color);
  max-width: 650px;
  position: relative;
  align-items: stretch;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
