.sidebar {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--twitter-border-color);
    min-width: min-content;
    justify-content: space-between;
    align-items: flex-start;
    /* min-width: 70px; */
    margin-left: auto;
}

.sidebar__top {
    display: flex;
    flex-direction: column;
}

.sidebar__down {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar__option > .arco-icon {
    margin: 0;
    padding: 14px;
    font-size: 20px;
}

.sidebar__twitter-icon {
    margin: 12px;

    font-size: 30px !important;
    color: var(--twitter-color);
}

.sidebar__button {
    /*background-color: var(--primary-6) !important;*/
    border: 0 !important;
    color: #fff !important;
    border-radius: 9999px !important;
    height: 40px !important;
    margin-top: 20px !important;
    width: 100%;
    font-weight: bold !important;
}

.sidebar__round-button {
    color: #fff !important;
    padding: 10px !important;
    margin-left: 4px !important;
    width: 50px !important;
    height: 50px !important;
    border-radius: 9999px !important;
    align-items: center;
    justify-content: center;
    display: flex;
    /* left: 50% !important; */
}

.sidebar__round-button {
    margin-top: 20px !important;
}

.sidebar__round-button > svg {
    position: relative;
    fill: #fff;
}

.sidebar__option {
    display: flex;
    width: fit-content;
    align-items: center;
    cursor: pointer;
    border-radius: 9999px;
    transition: color 0.15s ease-out;
}

.sidebar__option--active {
    color: var(--twitter-color);
}

.sidebar__option:hover {
    background-color: var(--color-secondary-hover);
    color: var(--twitter-color);
}

.sidebar__option > span {
    font-size: 16px;
    font-weight: 400;
    margin-right: 20px;
}

.sidebar__user {
    display: flex;
    margin-top: auto;
    margin-bottom: 20px;
    padding: 12px;
    align-items: center;
    cursor: pointer;
    border-radius: 9999px;
    transition: color 0.15s ease-out;
}

.sidebar__user:hover {
    background-color: var(--color-secondary-hover);
}

.sidebar__user__avatar {
    display: flex;
    border-radius: 9999px;
}

.sidebar__user__info {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
    margin-left: 12px;
}
