.tweetbox {
  padding-left: 16px;
  border-bottom: 1px solid var(--twitter-border-color);
  padding-right: 16px;
  display: flex;
  /* flex-direction: column; */
}

.tweetbox__input {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}


.imgBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}


.tweetbox__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* margin-top: 20px; */
}

.tweetbox__picture {
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}
